@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    font-family: "Inter", sans-serif;

}
.font-mono{
    font-family: "Geist Mono", monospace !important;
}
.backBtn {
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;
    color: #2B2B2B;
    text-transform: uppercase;
}